.current-bookings {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}


.current-bookings-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}


.no-flights-message {
  text-align: center;
  color: #888;
  font-size: 18px;
  padding-top: 20px;
}
